html {
  font-family: helvetica;
  font-size: 80%;
}

body {
  background-color: lightblue;
}

.mid {
  text-align: center;
}

div {
   margin-bottom: 2rem;
 }

.hide {
  visibility: hidden;
}

#btn {
  height: 2rem;
  background-color: black;
  color: white;
}
